@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './components/elements/table-item.css';
@import './components/table-list.css';
@import './components/tablemodal.css';
@import './components/navbar.css';
@import './components/loader.css';
@import './components/table.css';
@import './redirect.css';

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.root{
    margin: 0 auto;
    width: 1050px;
    background: white;
}